.App {
  max-width: 2000px;
  padding: 16px 64px;
  min-height: 100vh;
  width: calc(100vw - 128px);
  overflow: hidden;
  @media (max-width: 900px) {
    padding: 24px;
    width: calc(100vw - 48px);
  }
  @media (max-width: 600px) {
    padding: 16px;
    width: calc(100vw - 32px);
  }
  @media (max-width: 725px) {
    overflow: auto;
    height: 100vh;
  }
}
