.ProductList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 46px;
  overflow: auto;
  max-height: calc(100vh - 258px);
  @media (max-width: 1081px) {
    max-height: calc(100vh - 322px);
  }
  @media (max-width: 725px) {
    overflow: hidden;
    max-height: unset;
    margin-bottom: 80px;
  }
  .productListItem {
    flex-basis: 24%;
    @media (max-width: 1400px) {
      flex-basis: 32%;
    }
    @media (max-width: 1181px) {
      flex-basis: 49%;
    }
    @media (max-width: 927px) {
      flex-basis: 100%;
    }
  }
  .noProductText {
    font-size: 24px;
    color: var(--bright-color);
    font-weight: 500;
  }
}
.loaderContainer {
  text-align: center;
  margin-top: 100px;
}
