.SelectorInput {
  position: relative;
  .inputWrapper {
    position: relative;
    .input {
      border: 2px solid #343434;
      outline: none;
      background: #343434;
      height: 36px;
      font-size: 18px;
      color: #00d061;
      border-radius: 8px;
      padding-left: 12px;
      padding-right: 32px;
      width: -webkit-fill-available;
      &::placeholder {
        color: #b3b3b3;
      }
    }
    .rightIcon {
      position: absolute;
      color: #b3b3b3;
      right: 8px;
      cursor: pointer;
      top: 10px;
    }
  }
  .list {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 12px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
    max-height: 300px;
    overflow: auto;
    z-index: 5;
    width: -webkit-fill-available;
    :hover {
      background-color: #b3b3b3;
    }
    .listItem {
      cursor: pointer;
      padding: 8px;
    }
  }
  .notFound {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 12px;
    position: absolute;
    padding: 12px 8px;
    max-height: 300px;
    overflow: auto;
    z-index: 5;
    color: #343434;
    width: -webkit-fill-available;
  }
}
.brandSelector {
  .input {
    width: -webkit-fill-available;
    width: -moz-available;
  }
  .list {
    width: 250px;
  }
}
