.Pagination {
  position: fixed;
  bottom: 0;
  padding: 12px 0px;
  width: 100%;
  right: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: center;
  .moveBtn {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--bright-color);
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    &:hover {
      opacity: 0.8;
    }
  }
  .disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
      opacity: 0.5;
    }
  }
}
