.ProductCard {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  height: 140px;
  .price {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--bright-color);
  }
  .title {
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
  }
  .brand {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
    color: var(--primary-color);
  }
  .id {
    font-size: 16px;
    font-weight: 300;
    color: var(--secondary-color);
  }
}
