.FiltersContainer {
  .filtersForm {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
    width: fit-content;
    .filters {
      display: flex;
      flex-direction: row;
      gap: 8px;
      .filtersContainer {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }
      .nameInputContainer {
        width: 300px;
      }
      .brandInputContainer {
        width: 250px;
      }
    }
  }
}
@media (max-width: 1080px) {
  .FiltersContainer {
    .filtersForm {
      flex-direction: column;
    }
  }
}
@media (max-width: 940px) {
  .FiltersContainer {
    .filtersForm {
      flex-direction: row;
      .filters {
        flex-direction: column;
        .nameInputContainer {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 725px) {
  .FiltersContainer {
    .filtersForm {
      flex-direction: column;
    }
  }
}

@media (max-width: 590px) {
  .FiltersContainer {
    .filtersForm {
      .filters {
        .filtersContainer {
          flex-direction: column;
        }
      }
    }
  }
}
